<div id="top_menu">
    <div class="user_pages">
        <a href="/treks.html">Треки</a>
        <a href="/activities.html">Активности</a>
        <a href="/recommendations.html">Рекомендации</a>
        <a href="/profile.html">Профайл</a>
    </div>

    <div class="the_best">
        <div>
            <div class="ico">
                <img src="/img/best_1.jpg" alt="">
            </div>
            <div class="text">
                <span>Сегодня рулит:</span>
                <span>
                    <a href="/profile.html">Кирилл Орехов</a>
                </span>
            </div>
        </div>

        <div>
            <div class="ico">
                <img src="/img/best_2.jpg" alt="">
            </div>
            <div class="text">
                <span>Всего на треках:</span>
                <span>4253 человек</span>
            </div>
        </div>
    </div>

    <div class="icons">
        <a href="/messages.html" class="link_btn messages">
            <div class="indicator"></div>
            <i class="icon icon-a-mail"></i>
        </a>
        <div class="open_list_btn notifications">
            <div class="indicator"></div>
            <i class="icon icon-a-notifications"></i>
        </div>
    </div>
    <div class="user">
        <span>Василиса</span>
        <div class="ava" style="background-image: url('../img/photo/photo_1.jpg');"></div>
    </div>
    
    <div class="menu">
        <a href="/profile.html">
            <img src="../img/icons/a-person-outline.svg" alt="">
            Профайл
        </a>
        <a href="/settings.html">
            <img src="../img/icons/a-settings.svg" alt="">
            Настройки
        </a>
        <div class="line"></div>
        <a href="/login.html">
            <img src="../img/icons/a-logout.svg" alt="">
            Выход
        </a>
    </div>

</div>

<div class="notifications_popup popup_cloud">

    <div class="event_alert">
        <span class="status">Ура! Ваша заявка на курс</span>
        <span class="event_status accepted">принята</span>
        <div class="text">
            <a href="#">«Промышленный дизайн»</a>
        </div>
        <div class="time">
            <span>12:36</span>
        </div>
    </div>

    <div class="event_alert">
        <span class="status">Увы, Ваша заявка на мероприятие</span>
        <span class="event_status rejected">отклонена</span>
        <div class="text">
            <a href="#">«Сессия по реализации национальных проектов на территории Томской области»</a>
        </div>
        <div class="time">
            <span>10:24</span>
        </div>
    </div>

    <div class="show_all">
        <a href="/notifications.html">Все уведомления</a>
    </div>

</div>