<div id="right_block">

	<div class="expand_block"></div>

	<div class="roll_up_btn"></div>

	<a href="/settings.html" class="settings"><img src="../img/icons/a-settings.svg" alt=""></a>

	<div class="profile">
		<div class="photo">
			<div class="ava" style="background-image: url('../img/photo/photo_1.jpg');"></div>
		</div>
		<div class="name">
			<span>Василиса<br>Александрова</span>
		</div>
		<div class="deskr">
			<span>«Хочу войти в состав команды Томска по JuniorSkill!»</span>
		</div>

		<div class="online_status">
			<span>Онлайн</span>
		</div>

		<div class="send_msg">
			<a href="/messages.html" class="border_btn big">Написать сообщение</a>
		</div>

		<div class="add_friend">
			<button class="border_btn big">Добавить в друзья</button>
		</div>

		<div class="delete-friend hide">
			<a href="#del_friend" class="open_modal link_border ico ico-person-delete">Удалить из друзей</a>
		</div>

		<div class="complain">
			<a href="#" class="link_border ico ico-attention">Пожаловаться</a>
		</div>
	</div>

	<div class="friends">
		<div class="page_title">
	        <h4>Друзья</h4>
	        <a href="/user_friends.html" class="link_border">Все друзья</a>
	    </div>

	    <div class="friends_slider">
	    	<div>
	    		<div class="users_list">
	    			<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava1.png');">
								<div class="points buble">122</div>
							</div>
							<div class="name">
								<span>Катерина</span>
								<span>Любер</span>
							</div>
						</a>
					</div>
					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava2.png');">
								<div class="points buble">102</div>
							</div>
							<div class="name">
								<span>Максим</span>
								<span>Балановский</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava3.png');">
								<div class="points buble">96</div>
							</div>
							<div class="name">
								<span>Петр</span>
								<span>Лазарев</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava4.png');">
								<div class="points buble">93</div>
							</div>
							<div class="name">
								<span>Кирилл</span>
								<span>Орехов</span>
							</div>
						</a>
					</div>
	    		</div>
	    	</div>

	    	<div>
	    		<div class="users_list">
	    			<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava1.png');">
								<div class="points buble">122</div>
							</div>
							<div class="name">
								<span>Катерина</span>
								<span>Любер</span>
							</div>
						</a>
					</div>
					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava2.png');">
								<div class="points buble">102</div>
							</div>
							<div class="name">
								<span>Максим</span>
								<span>Балановский</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava3.png');">
								<div class="points buble">96</div>
							</div>
							<div class="name">
								<span>Петр</span>
								<span>Лазарев</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava4.png');">
								<div class="points buble">93</div>
							</div>
							<div class="name">
								<span>Кирилл</span>
								<span>Орехов</span>
							</div>
						</a>
					</div>
	    		</div>
	    	</div>

	    </div>
	    <div class="slider_counter">
	    	<span id="friends_slider_counter">1</span>/3
	    </div>
	</div>

	<div class="mertors">
		<div class="page_title">
	        <h4>Наставники</h4>
	    </div>

	    <div class="mertors_slider shadow-box">
	    	<div>
	    		<div class="mentor">
	    			<div class="img">
	    				<div style="background-image: url('../img/bg/bg1.jpg');"></div>
	    			</div>
	    			<div class="ava" style="background-image: url('../img/photo/mentor1.jpg');"></div>
	    			<div class="name">
	    				<span>Анастасия<br>Вольнорудова</span>
	    			</div>
	    			<div class="deskr">
	    				<span>Основатель креативного агенства «Амика». В разработке и руководстве коммандой 10 лет</span>
	    			</div>
	    			
	    		</div>
	    	</div>

	    	<div>
	    		<div class="mentor">
	    			<div class="img">
	    				<div style="background-image: url('../img/bg/bg2.jpg');"></div>
	    			</div>
	    			<div class="ava" style="background-image: url('../img/photo/mentor2.jpeg');"></div>
	    			<div class="name">
	    				<span>Анастасия<br>Вольнорудова</span>
	    			</div>
	    			<div class="deskr">
	    				<span>Основатель креативного агенства «Амика». В разработке и руководстве коммандой 10 лет</span>
	    			</div>
	    		</div>
	    	</div>

	    </div>
	    <div class="slider_counter">
	    	<span id="mertors_slider_counter">1</span>/3
	    </div>
	</div>

</div>