<div id="right_block">

	<div class="expand_block"></div>

	<div class="roll_up_btn"></div>

	<div class="profile">
		<div class="photo">
			<div class="ava" style="background-image: url('../img/photo/photo_1.jpg');"></div>
		</div>
		<div class="name">
			<span>Алексей Кремлев</span>
		</div>
		<div class="deskr">
			<span>«Хочу войти в состав команды Томска по JuniorSkill!»</span>
		</div>

		<div class="send_msg mb-0">
			<a href="/messages.html" class="blue_btn big">Заявка на наставничество</a>
			<a href="/messages.html" class="border_btn big mt-24">Написать сообщение</a>
		</div>

	</div>

	<div class="mertors">
		<div class="page_title">
	        <h4>Наставники</h4>
	    </div>

	    <div class="mertors_slider">
	    	<div>
	    		<div class="users_list">
	    			<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava1.png');">
								<div class="points buble">122</div>
							</div>
							<div class="name">
								<span>Катерина</span>
								<span>Любер</span>
							</div>
						</a>
					</div>
					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava2.png');">
								<div class="points buble">102</div>
							</div>
							<div class="name">
								<span>Максим</span>
								<span>Балановский</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava3.png');">
								<div class="points buble">96</div>
							</div>
							<div class="name">
								<span>Петр</span>
								<span>Лазарев</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava4.png');">
								<div class="points buble">93</div>
							</div>
							<div class="name">
								<span>Кирилл</span>
								<span>Орехов</span>
							</div>
						</a>
					</div>
	    		</div>
	    	</div>

	    	<div>
	    		<div class="users_list">
	    			<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava1.png');">
								<div class="points buble">122</div>
							</div>
							<div class="name">
								<span>Катерина</span>
								<span>Любер</span>
							</div>
						</a>
					</div>
					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava2.png');">
								<div class="points buble">102</div>
							</div>
							<div class="name">
								<span>Максим</span>
								<span>Балановский</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava3.png');">
								<div class="points buble">96</div>
							</div>
							<div class="name">
								<span>Петр</span>
								<span>Лазарев</span>
							</div>
						</a>
					</div>

					<div class="user user_top">
						<a href="/profile.html">
							<div class="ava" style="background-image: url('../img/photo/ava4.png');">
								<div class="points buble">93</div>
							</div>
							<div class="name">
								<span>Кирилл</span>
								<span>Орехов</span>
							</div>
						</a>
					</div>
	    		</div>
	    	</div>

	    </div>
	    <div class="slider_counter">
	    	<span id="mertors_slider_counter">1</span>/3
	    </div>
	</div>
</div>