<div id="small_screen">
    <div class="content">
        <div class="big">У вас маленький экран</div>
    </div>
</div>

<!-- <div class="ie_msg">
	<div class="header">
		<a href="/">
			<div class="site_name">
		        <div class="logo"></div>
		    </div>
		</a>
	</div>
	<div class="content">
		<div class="text">
			<h4>К сожалению, Ваш браузер устарел и не поддерживает используемые на платформе технологии</h4>
			<p>Мы рекомендуем обновить ваш браузер или перейти по одной из ссылок ниже, чтобы загрузить последнюю версию современного браузера.</p>

			<div class="browser_list">
				<a href="https://www.google.com/intl/ru_ru/chrome/" target="_blank">
					<img src="../img/icons/chrome.svg" alt="">
					<span>Google Chrome</span>
				</a>
				<a href="https://www.mozilla.org/ru/firefox/new/" target="_blank">
					<img src="../img/icons/firefox.svg" alt="">
					<span>Mozila Firefox</span>
				</a>
				<a href="https://www.apple.com/ru/safari/" target="_blank">
					<img src="../img/icons/safari.svg" alt="">
					<span>Safari</span>
				</a>
				<a href="https://www.opera.com/" target="_blank">
					<img src="../img/icons/opera.svg" alt="">
					<span>Opera</span>
				</a>
			</div>
		</div>
	</div>
</div> -->