$blueberry: #534a9c;
$shamrock-green: #00cd6a;
$deep-sky-blue: #1588ee;
$pumpkin-orange: #ff800b;
$light-indigo: #7563c7;
$french-blue: #4167bb;
$marigold: #ffc500;
$pale-grey: #f2f6fa;
$very-light-pink: #f2f2f2;
$coral: #ff4b3a;